page-crud-form {

}

ion-card-header > span{
    font-style: italic;
    color: blueviolet
}

.card-md h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 21px;
}

.card-content{
    display: flex;
    
}

.card__button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
}

.ion-card_main{
    position: relative;
}